.customerSetWrap{
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    line-height: 1.5rem;
    height: 100%;
    border-right: solid 1px #666;
    position: relative;
    &>div:nth-child(1){
        //width: 8rem;
        text-align: center;
        
        button{
            margin: 0.5rem 0;
        }
        height: 2.5rem;
    }
    &>div:nth-child(2){
        //width: 10rem;
        height: 4rem;
        text-align: center;
        button{
            margin: 0.2rem 0.1rem 0 0.1rem;
        }
    }
    &>div:nth-child(3){
        flex: 1;
        //text-align: center;
        padding-left: 0.5rem;
        line-height: 1.5rem;
        width: 12rem;
        margin: 0 auto;
    }
    .paramPanel{
        overflow: auto;
        overflow-x: hidden;
        center{
            position: absolute;
            background: #2e384e;
            width: 100%;
            left: 0;
            bottom: 0;
            
            button{
                width: 50%;
                color:#ccc;
                height: 100%;
                padding:4px 0;
                i{
                    //font-size: 1.1rem;
                    padding-right: 0.2rem;
                    font-weight: 100;
                }
                &:hover{
                    background: #212838;
                }
            }
        }
    }
}
.popover_botton{
    text-align: center;
    
    button{
        margin: 0 0.4rem;
    };
}
.advanced_set_panel{
    ul{
        list-style: none;
        li{
            &>div{
                display: flex;
            }
            //min-height: 3rem;
            .title_label{
                vertical-align: middle;
                //display: inline-block;
                width: 22rem;
                word-wrap: break-word;
                text-align: right;
                line-height: 2.2rem;
            }
            .title_label2{
                width: 5rem;
            }
        }
    }
    .adv_content{
        margin: 0.2rem 0;
        // flex: 1;
        // label{
        //     margin: 0 2rem;
        // }
    }
}