<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,54}</string>
                <key>spriteSourceSize</key>
                <string>{154,54}</string>
                <key>textureRect</key>
                <string>{{0,200},{154,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,54}</string>
                <key>spriteSourceSize</key>
                <string>{154,54}</string>
                <key>textureRect</key>
                <string>{{154,200},{154,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,80}</string>
                <key>spriteSourceSize</key>
                <string>{73,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{73,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get-hongli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,61}</string>
                <key>spriteSourceSize</key>
                <string>{162,61}</string>
                <key>textureRect</key>
                <string>{{308,200},{162,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,117}</string>
                <key>spriteSourceSize</key>
                <string>{499,117}</string>
                <key>textureRect</key>
                <string>{{476,280},{499,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{840,0},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sure-ex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,80}</string>
                <key>spriteSourceSize</key>
                <string>{476,80}</string>
                <key>textureRect</key>
                <string>{{0,280},{476,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switch-btu-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,80}</string>
                <key>spriteSourceSize</key>
                <string>{198,80}</string>
                <key>textureRect</key>
                <string>{{470,200},{198,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switch-btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,80}</string>
                <key>spriteSourceSize</key>
                <string>{213,80}</string>
                <key>textureRect</key>
                <string>{{668,200},{213,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titla-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,81}</string>
                <key>spriteSourceSize</key>
                <string>{613,81}</string>
                <key>textureRect</key>
                <string>{{0,397},{613,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,81}</string>
                <key>spriteSourceSize</key>
                <string>{613,81}</string>
                <key>textureRect</key>
                <string>{{0,478},{613,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanshi-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,106}</string>
                <key>spriteSourceSize</key>
                <string>{115,106}</string>
                <key>textureRect</key>
                <string>{{73,0},{115,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanshi-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{188,0},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanshi-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,115}</string>
                <key>spriteSourceSize</key>
                <string>{129,115}</string>
                <key>textureRect</key>
                <string>{{304,0},{129,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanshi-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,118}</string>
                <key>spriteSourceSize</key>
                <string>{135,118}</string>
                <key>textureRect</key>
                <string>{{433,0},{135,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanshi-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,132}</string>
                <key>spriteSourceSize</key>
                <string>{137,132}</string>
                <key>textureRect</key>
                <string>{{703,0},{137,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanshi-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,118}</string>
                <key>spriteSourceSize</key>
                <string>{135,118}</string>
                <key>textureRect</key>
                <string>{{568,0},{135,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newface.png</string>
            <key>size</key>
            <string>{990,559}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbfef10d40a5a14746a045da493cc78c:b24630032824a9cdcba21d21b3c27fb1:a1d9c5c662a5fa87b4bb651e3e925a77$</string>
            <key>textureFileName</key>
            <string>newface.png</string>
        </dict>
    </dict>
</plist>
