<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{1064,205},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{1151,205},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,87}</string>
                <key>spriteSourceSize</key>
                <string>{93,87}</string>
                <key>textureRect</key>
                <string>{{1238,205},{93,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backHallBtu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,69}</string>
                <key>spriteSourceSize</key>
                <string>{181,69}</string>
                <key>textureRect</key>
                <string>{{527,54},{181,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_Btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,72}</string>
                <key>textureRect</key>
                <string>{{0,124},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>borromBorad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1319,115}</string>
                <key>spriteSourceSize</key>
                <string>{1319,115}</string>
                <key>textureRect</key>
                <string>{{115,295},{1319,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,83}</string>
                <key>spriteSourceSize</key>
                <string>{276,83}</string>
                <key>textureRect</key>
                <string>{{613,205},{276,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,54}</string>
                <key>spriteSourceSize</key>
                <string>{154,54}</string>
                <key>textureRect</key>
                <string>{{1628,0},{154,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,54}</string>
                <key>spriteSourceSize</key>
                <string>{154,54}</string>
                <key>textureRect</key>
                <string>{{1782,0},{154,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,80}</string>
                <key>spriteSourceSize</key>
                <string>{73,80}</string>
                <key>textureRect</key>
                <string>{{226,124},{73,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,219}</string>
                <key>spriteSourceSize</key>
                <string>{270,219}</string>
                <key>textureRect</key>
                <string>{{1540,732},{270,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,219}</string>
                <key>spriteSourceSize</key>
                <string>{270,219}</string>
                <key>textureRect</key>
                <string>{{0,951},{270,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,219}</string>
                <key>spriteSourceSize</key>
                <string>{270,219}</string>
                <key>textureRect</key>
                <string>{{270,951},{270,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>downArrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{68,80}</string>
                <key>textureRect</key>
                <string>{{299,124},{68,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end-page.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{124,50}</string>
                <key>textureRect</key>
                <string>{{814,0},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>first-page.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{124,50}</string>
                <key>textureRect</key>
                <string>{{938,0},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-brnn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,203}</string>
                <key>spriteSourceSize</key>
                <string>{308,203}</string>
                <key>textureRect</key>
                <string>{{1112,529},{308,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-cdmj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,214}</string>
                <key>spriteSourceSize</key>
                <string>{308,214}</string>
                <key>textureRect</key>
                <string>{{1232,732},{308,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-dgk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,203}</string>
                <key>spriteSourceSize</key>
                <string>{308,203}</string>
                <key>textureRect</key>
                <string>{{1420,529},{308,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-dx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,203}</string>
                <key>spriteSourceSize</key>
                <string>{308,203}</string>
                <key>textureRect</key>
                <string>{{1728,529},{308,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-ebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,203}</string>
                <key>spriteSourceSize</key>
                <string>{308,203}</string>
                <key>textureRect</key>
                <string>{{0,732},{308,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-hhdz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,203}</string>
                <key>spriteSourceSize</key>
                <string>{308,203}</string>
                <key>textureRect</key>
                <string>{{308,732},{308,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-lhd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,204}</string>
                <key>spriteSourceSize</key>
                <string>{308,204}</string>
                <key>textureRect</key>
                <string>{{924,732},{308,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-pdk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,203}</string>
                <key>spriteSourceSize</key>
                <string>{308,203}</string>
                <key>textureRect</key>
                <string>{{616,732},{308,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get-hongli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,61}</string>
                <key>spriteSourceSize</key>
                <string>{162,61}</string>
                <key>textureRect</key>
                <string>{{282,54},{162,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,727}</string>
                <key>spriteSourceSize</key>
                <string>{341,727}</string>
                <key>textureRect</key>
                <string>{{1603,951},{341,727}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glod2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1331,205},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-exchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,85}</string>
                <key>spriteSourceSize</key>
                <string>{175,85}</string>
                <key>textureRect</key>
                <string>{{889,205},{175,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-fx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,43}</string>
                <key>spriteSourceSize</key>
                <string>{113,43}</string>
                <key>textureRect</key>
                <string>{{205,0},{113,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,49}</string>
                <key>spriteSourceSize</key>
                <string>{112,49}</string>
                <key>textureRect</key>
                <string>{{436,0},{112,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1421,0},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-sz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,54}</string>
                <key>spriteSourceSize</key>
                <string>{117,54}</string>
                <key>textureRect</key>
                <string>{{0,54},{117,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-zj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,54}</string>
                <key>spriteSourceSize</key>
                <string>{109,54}</string>
                <key>textureRect</key>
                <string>{{117,54},{109,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-zs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,46}</string>
                <key>spriteSourceSize</key>
                <string>{118,46}</string>
                <key>textureRect</key>
                <string>{{318,0},{118,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{73,69}</string>
                <key>textureRect</key>
                <string>{{708,54},{73,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_msg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{76,72}</string>
                <key>textureRect</key>
                <string>{{74,124},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_set.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{76,72}</string>
                <key>textureRect</key>
                <string>{{150,124},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inner_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{226,54},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loatSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,125}</string>
                <key>spriteSourceSize</key>
                <string>{345,125}</string>
                <key>textureRect</key>
                <string>{{135,529},{345,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main-bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1272,117}</string>
                <key>spriteSourceSize</key>
                <string>{1272,117}</string>
                <key>textureRect</key>
                <string>{{0,411},{1272,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,117}</string>
                <key>spriteSourceSize</key>
                <string>{499,117}</string>
                <key>textureRect</key>
                <string>{{1272,411},{499,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>masterSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{54,0},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{962,529},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next-page.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,49}</string>
                <key>spriteSourceSize</key>
                <string>{133,49}</string>
                <key>textureRect</key>
                <string>{{548,0},{133,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>off_Btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,50}</string>
                <key>spriteSourceSize</key>
                <string>{182,50}</string>
                <key>textureRect</key>
                <string>{{1062,0},{182,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>on_Btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,50}</string>
                <key>spriteSourceSize</key>
                <string>{177,50}</string>
                <key>textureRect</key>
                <string>{{1244,0},{177,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pleaseShow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,39}</string>
                <key>spriteSourceSize</key>
                <string>{120,39}</string>
                <key>textureRect</key>
                <string>{{85,0},{120,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pre-page.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,49}</string>
                <key>spriteSourceSize</key>
                <string>{133,49}</string>
                <key>textureRect</key>
                <string>{{681,0},{133,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quickBtu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,69}</string>
                <key>spriteSourceSize</key>
                <string>{179,69}</string>
                <key>textureRect</key>
                <string>{{781,54},{179,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ract3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{24,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ract_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,53}</string>
                <key>spriteSourceSize</key>
                <string>{155,53}</string>
                <key>textureRect</key>
                <string>{{1473,0},{155,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sure-ex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,80}</string>
                <key>spriteSourceSize</key>
                <string>{476,80}</string>
                <key>textureRect</key>
                <string>{{367,124},{476,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switch-btu-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,80}</string>
                <key>spriteSourceSize</key>
                <string>{198,80}</string>
                <key>textureRect</key>
                <string>{{843,124},{198,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switch-btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,80}</string>
                <key>spriteSourceSize</key>
                <string>{213,80}</string>
                <key>textureRect</key>
                <string>{{1041,124},{213,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switchUserBtu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,90}</string>
                <key>spriteSourceSize</key>
                <string>{536,90}</string>
                <key>textureRect</key>
                <string>{{1421,205},{536,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,70}</string>
                <key>spriteSourceSize</key>
                <string>{676,70}</string>
                <key>textureRect</key>
                <string>{{960,54},{676,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titla-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,81}</string>
                <key>spriteSourceSize</key>
                <string>{613,81}</string>
                <key>textureRect</key>
                <string>{{1254,124},{613,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,81}</string>
                <key>spriteSourceSize</key>
                <string>{613,81}</string>
                <key>textureRect</key>
                <string>{{0,205},{613,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trigger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,470}</string>
                <key>spriteSourceSize</key>
                <string>{270,470}</string>
                <key>textureRect</key>
                <string>{{1063,951},{270,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trigger2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,470}</string>
                <key>spriteSourceSize</key>
                <string>{270,470}</string>
                <key>textureRect</key>
                <string>{{1333,951},{270,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triggerBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,226}</string>
                <key>spriteSourceSize</key>
                <string>{66,226}</string>
                <key>textureRect</key>
                <string>{{540,951},{66,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triggerBar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,226}</string>
                <key>spriteSourceSize</key>
                <string>{66,226}</string>
                <key>textureRect</key>
                <string>{{606,951},{66,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>typeBtu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,70}</string>
                <key>spriteSourceSize</key>
                <string>{174,70}</string>
                <key>textureRect</key>
                <string>{{1636,54},{174,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>typeBtu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,70}</string>
                <key>spriteSourceSize</key>
                <string>{187,70}</string>
                <key>textureRect</key>
                <string>{{1810,54},{187,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,125}</string>
                <key>spriteSourceSize</key>
                <string>{345,125}</string>
                <key>textureRect</key>
                <string>{{480,529},{345,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuandong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,386}</string>
                <key>spriteSourceSize</key>
                <string>{391,386}</string>
                <key>textureRect</key>
                <string>{{672,951},{391,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanshi-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,67}</string>
                <key>textureRect</key>
                <string>{{444,54},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanshi-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,106}</string>
                <key>spriteSourceSize</key>
                <string>{115,106}</string>
                <key>textureRect</key>
                <string>{{0,295},{115,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanshi-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{1563,295},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanshi-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,115}</string>
                <key>spriteSourceSize</key>
                <string>{129,115}</string>
                <key>textureRect</key>
                <string>{{1434,295},{129,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanshi-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,118}</string>
                <key>spriteSourceSize</key>
                <string>{135,118}</string>
                <key>textureRect</key>
                <string>{{1771,411},{135,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanshi-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,132}</string>
                <key>spriteSourceSize</key>
                <string>{137,132}</string>
                <key>textureRect</key>
                <string>{{825,529},{137,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanshi-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,118}</string>
                <key>spriteSourceSize</key>
                <string>{135,118}</string>
                <key>textureRect</key>
                <string>{{0,529},{135,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newface.png</string>
            <key>size</key>
            <string>{2036,1678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b03ff822e520007b655a91c4bbd3dbee:68368c1d5e5e0a7e37fa4dbc92162c08:a1d9c5c662a5fa87b4bb651e3e925a77$</string>
            <key>textureFileName</key>
            <string>newface.png</string>
        </dict>
    </dict>
</plist>
