<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Phone_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{206,960},{90,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WechatIMG510.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,177}</string>
                <key>spriteSourceSize</key>
                <string>{490,177}</string>
                <key>textureRect</key>
                <string>{{123,1535},{490,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,475}</string>
                <key>spriteSourceSize</key>
                <string>{320,475}</string>
                <key>textureRect</key>
                <string>{{6,6},{320,475}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,107}</string>
                <key>spriteSourceSize</key>
                <string>{305,107}</string>
                <key>textureRect</key>
                <string>{{123,1317},{305,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,107}</string>
                <key>spriteSourceSize</key>
                <string>{305,107}</string>
                <key>textureRect</key>
                <string>{{123,1426},{305,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btu_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,128}</string>
                <key>spriteSourceSize</key>
                <string>{306,128}</string>
                <key>textureRect</key>
                <string>{{362,328},{306,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btu_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,140}</string>
                <key>spriteSourceSize</key>
                <string>{336,140}</string>
                <key>textureRect</key>
                <string>{{345,766},{336,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btu_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,140}</string>
                <key>spriteSourceSize</key>
                <string>{336,140}</string>
                <key>textureRect</key>
                <string>{{123,1175},{336,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cjfj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,46}</string>
                <key>spriteSourceSize</key>
                <string>{164,46}</string>
                <key>textureRect</key>
                <string>{{302,1647},{162,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cjqyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,50}</string>
                <key>spriteSourceSize</key>
                <string>{223,50}</string>
                <key>textureRect</key>
                <string>{{123,704},{221,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_hupaishu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{302,1828},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_sezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{388,1742},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_weizhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{388,1826},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_xiaoxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{302,1742},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_yu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{386,1910},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>db.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1319,115}</string>
                <key>spriteSourceSize</key>
                <string>{1319,115}</string>
                <key>textureRect</key>
                <string>{{6,704},{1319,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gonggao_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,53}</string>
                <key>spriteSourceSize</key>
                <string>{120,53}</string>
                <key>textureRect</key>
                <string>{{302,1535},{120,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hezuo_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,52}</string>
                <key>spriteSourceSize</key>
                <string>{120,52}</string>
                <key>textureRect</key>
                <string>{{302,1590},{120,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huawen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,17}</string>
                <key>spriteSourceSize</key>
                <string>{251,17}</string>
                <key>textureRect</key>
                <string>{{474,1104},{251,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinrqyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,40}</string>
                <key>spriteSourceSize</key>
                <string>{183,42}</string>
                <key>textureRect</key>
                <string>{{123,808},{181,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jlb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,61}</string>
                <key>spriteSourceSize</key>
                <string>{170,61}</string>
                <key>textureRect</key>
                <string>{{430,1357},{168,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jrfj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,45}</string>
                <key>spriteSourceSize</key>
                <string>{162,45}</string>
                <key>textureRect</key>
                <string>{{302,1695},{160,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jrqyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,50}</string>
                <key>spriteSourceSize</key>
                <string>{222,50}</string>
                <key>textureRect</key>
                <string>{{123,756},{220,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phone_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{349,69}</string>
                <key>spriteSourceSize</key>
                <string>{355,75}</string>
                <key>textureRect</key>
                <string>{{6,562},{349,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,81}</string>
                <key>spriteSourceSize</key>
                <string>{242,83}</string>
                <key>textureRect</key>
                <string>{{123,850},{240,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>reg_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{349,69}</string>
                <key>spriteSourceSize</key>
                <string>{355,75}</string>
                <key>textureRect</key>
                <string>{{6,633},{349,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reg_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{357,636},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shangcheng_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,54}</string>
                <key>spriteSourceSize</key>
                <string>{118,54}</string>
                <key>textureRect</key>
                <string>{{430,1527},{118,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sjdl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{352,76}</string>
                <key>spriteSourceSize</key>
                <string>{376,90}</string>
                <key>textureRect</key>
                <string>{{6,484},{352,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weichart_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{349,69}</string>
                <key>spriteSourceSize</key>
                <string>{355,75}</string>
                <key>textureRect</key>
                <string>{{123,1104},{349,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weichat_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{206,850},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wjzc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{354,76}</string>
                <key>spriteSourceSize</key>
                <string>{376,90}</string>
                <key>textureRect</key>
                <string>{{6,328},{354,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wxdl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{354,76}</string>
                <key>spriteSourceSize</key>
                <string>{376,90}</string>
                <key>textureRect</key>
                <string>{{6,406},{354,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blankApp.png</string>
            <key>size</key>
            <string>{497,2031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78156a5e0e5159124fe01f91fa4c6218:c743f9b0ce78a56769ce73d4b46391e1:22269089df4790ae77ec1d4016ffcc22$</string>
            <key>textureFileName</key>
            <string>blankApp.png</string>
        </dict>
    </dict>
</plist>
