<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WechatIMG510.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,177}</string>
                <key>spriteSourceSize</key>
                <string>{490,177}</string>
                <key>textureRect</key>
                <string>{{6,1327},{490,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,475}</string>
                <key>spriteSourceSize</key>
                <string>{320,475}</string>
                <key>textureRect</key>
                <string>{{123,6},{320,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,107}</string>
                <key>spriteSourceSize</key>
                <string>{305,107}</string>
                <key>textureRect</key>
                <string>{{123,1129},{305,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,107}</string>
                <key>spriteSourceSize</key>
                <string>{305,107}</string>
                <key>textureRect</key>
                <string>{{253,821},{305,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btu_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,128}</string>
                <key>spriteSourceSize</key>
                <string>{306,128}</string>
                <key>textureRect</key>
                <string>{{123,821},{306,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btu_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,140}</string>
                <key>spriteSourceSize</key>
                <string>{336,140}</string>
                <key>textureRect</key>
                <string>{{123,483},{336,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btu_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,140}</string>
                <key>spriteSourceSize</key>
                <string>{336,140}</string>
                <key>textureRect</key>
                <string>{{265,483},{336,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cjfj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,46}</string>
                <key>spriteSourceSize</key>
                <string>{164,46}</string>
                <key>textureRect</key>
                <string>{{445,6},{162,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cjqyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,50}</string>
                <key>spriteSourceSize</key>
                <string>{223,50}</string>
                <key>textureRect</key>
                <string>{{6,1506},{221,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_hupaishu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{207,1238},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_sezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{362,1013},{84,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d_weizhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{123,1238},{84,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d_xiaoxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{362,927},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_yu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{291,1238},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>db.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1319,115}</string>
                <key>spriteSourceSize</key>
                <string>{1319,115}</string>
                <key>textureRect</key>
                <string>{{6,6},{1319,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gonggao_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,53}</string>
                <key>spriteSourceSize</key>
                <string>{120,53}</string>
                <key>textureRect</key>
                <string>{{375,1238},{120,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hezuo_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,52}</string>
                <key>spriteSourceSize</key>
                <string>{120,52}</string>
                <key>textureRect</key>
                <string>{{448,927},{120,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huawen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,17}</string>
                <key>spriteSourceSize</key>
                <string>{251,17}</string>
                <key>textureRect</key>
                <string>{{6,1558},{251,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinrqyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,40}</string>
                <key>spriteSourceSize</key>
                <string>{183,42}</string>
                <key>textureRect</key>
                <string>{{445,170},{181,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jlb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,61}</string>
                <key>spriteSourceSize</key>
                <string>{170,61}</string>
                <key>textureRect</key>
                <string>{{407,757},{168,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jrfj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,45}</string>
                <key>spriteSourceSize</key>
                <string>{162,45}</string>
                <key>textureRect</key>
                <string>{{445,353},{160,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jrqyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,50}</string>
                <key>spriteSourceSize</key>
                <string>{222,50}</string>
                <key>textureRect</key>
                <string>{{229,1506},{220,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,81}</string>
                <key>spriteSourceSize</key>
                <string>{242,83}</string>
                <key>textureRect</key>
                <string>{{407,515},{240,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shangcheng_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,54}</string>
                <key>spriteSourceSize</key>
                <string>{118,54}</string>
                <key>textureRect</key>
                <string>{{430,1099},{118,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blankApp.png</string>
            <key>size</key>
            <string>{506,1581}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:711068a1de0802ffb89fe9e90f8d1e28:3e14002491077347a313976a59d1231e:22269089df4790ae77ec1d4016ffcc22$</string>
            <key>textureFileName</key>
            <string>blankApp.png</string>
        </dict>
    </dict>
</plist>
