<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tex_ChalouBottomBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{1280,70}</string>
                <key>spriteSourceSize</key>
                <string>{1280,96}</string>
                <key>textureRect</key>
                <string>{{663,1},{1280,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tex_ChalouListBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{310,420}</string>
                <key>spriteSourceSize</key>
                <string>{310,422}</string>
                <key>textureRect</key>
                <string>{{1,1},{310,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tex_ChalouTopBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{1280,58}</string>
                <key>spriteSourceSize</key>
                <string>{1280,60}</string>
                <key>textureRect</key>
                <string>{{1,423},{1280,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tex_desk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,13}</string>
                <key>spriteSize</key>
                <string>{348,186}</string>
                <key>spriteSourceSize</key>
                <string>{588,356}</string>
                <key>textureRect</key>
                <string>{{313,1},{348,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cl_icon_quick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-3}</string>
                <key>spriteSize</key>
                <string>{176,48}</string>
                <key>spriteSourceSize</key>
                <string>{264,70}</string>
                <key>textureRect</key>
                <string>{{1283,423},{176,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cl_icon_quick3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1461,423},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>1234.png</string>
            <key>size</key>
            <string>{1944,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5f7a681d3aeb2c6c25b270032adaf7d:26de67dd1ecd6b0eb888d6ed790a6599:754fe6f46e7d54f72927035285e1cacf$</string>
            <key>textureFileName</key>
            <string>1234.png</string>
        </dict>
    </dict>
</plist>
