<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,50}</string>
                <key>spriteSourceSize</key>
                <string>{75,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 5 6 3 4 5 1 3 6 1 2 3 0 1 6</string>
                <key>vertices</key>
                <string>75 30 44 50 30 50 1 21 0 19 0 0 75 0</string>
                <key>verticesUV</key>
                <string>75 30 44 50 30 50 1 21 0 19 0 0 75 0</string>
            </dict>
            <key>cardLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,113}</string>
                <key>spriteSourceSize</key>
                <string>{78,113}</string>
                <key>textureRect</key>
                <string>{{298,365},{78,113}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 4 5 2 4 9 7 0 1 6 1 2 9 6 2 2 3 4 8 9 5 0 8 5 7 1 6 0 7 8</string>
                <key>vertices</key>
                <string>78 113 0 113 0 3 1 1 3 0 78 0 6 100 70 102 72 13 8 11</string>
                <key>verticesUV</key>
                <string>376 478 298 478 298 368 299 366 301 365 376 365 304 465 368 467 370 378 306 376</string>
            </dict>
            <key>corner_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{747,70},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>82 82 0 82 0 79 79 0 82 0</string>
                <key>verticesUV</key>
                <string>829 152 747 152 747 149 826 70 829 70</string>
            </dict>
            <key>corner_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{671,0},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>61 3 3 61 0 61 0 0 61 0</string>
                <key>verticesUV</key>
                <string>732 3 674 61 671 61 671 0 732 0</string>
            </dict>
            <key>huSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-9.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{87,103}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{906,154},{87,103}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 0 1 2 3 0 0 3 4</string>
                <key>vertices</key>
                <string>114 43 114 133 44 120 27 73 47 30</string>
                <key>verticesUV</key>
                <string>993 167 993 257 923 244 906 197 926 154</string>
            </dict>
            <key>m_bottom_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,104}</string>
                <key>spriteSourceSize</key>
                <string>{960,104}</string>
                <key>textureRect</key>
                <string>{{0,259},{960,104}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>960 49 960 104 0 104 0 0 908 0</string>
                <key>verticesUV</key>
                <string>960 308 960 363 0 363 0 259 908 259</string>
            </dict>
            <key>m_button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,80}</string>
                <key>spriteSourceSize</key>
                <string>{198,80}</string>
                <key>textureRect</key>
                <string>{{257,70},{198,80}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 1 4 0 2 4 1 2 3 4</string>
                <key>vertices</key>
                <string>198 80 0 80 0 7 5 2 9 0 198 0</string>
                <key>verticesUV</key>
                <string>455 150 257 150 257 77 262 72 266 70 455 70</string>
            </dict>
            <key>m_button3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,80}</string>
                <key>spriteSourceSize</key>
                <string>{213,80}</string>
                <key>textureRect</key>
                <string>{{457,70},{213,80}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>213 80 0 80 0 0 213 0</string>
                <key>verticesUV</key>
                <string>670 150 457 150 457 70 670 70</string>
            </dict>
            <key>m_dban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{344,545}</string>
                <key>spriteSourceSize</key>
                <string>{345,546}</string>
                <key>textureRect</key>
                <string>{{0,909},{344,545}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>344 545 0 545 0 0 344 0</string>
                <key>verticesUV</key>
                <string>344 1454 0 1454 0 909 344 909</string>
            </dict>
            <key>m_delete2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,80}</string>
                <key>spriteSourceSize</key>
                <string>{73,80}</string>
                <key>textureRect</key>
                <string>{{672,70},{73,80}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>73 70 53 80 0 80 0 0 73 0</string>
                <key>verticesUV</key>
                <string>745 140 725 150 672 150 672 70 745 70</string>
            </dict>
            <key>m_gg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,53}</string>
                <key>spriteSourceSize</key>
                <string>{120,53}</string>
                <key>textureRect</key>
                <string>{{421,0},{120,53}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 5 6 3 4 5 0 2 3 0 1 2 0 3 6</string>
                <key>vertices</key>
                <string>63 10 120 10 120 42 35 53 0 53 0 0 43 0</string>
                <key>verticesUV</key>
                <string>484 10 541 10 541 42 456 53 421 53 421 0 464 0</string>
            </dict>
            <key>m_hongli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{116,108}</string>
                <key>textureRect</key>
                <string>{{0,365},{116,108}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 4 0 3 2 0 1 2 3 0 4 5 0</string>
                <key>vertices</key>
                <string>116 58 116 108 0 108 0 50 8 32 60 0 87 0</string>
                <key>verticesUV</key>
                <string>116 423 116 473 0 473 0 415 8 397 60 365 87 365</string>
            </dict>
            <key>m_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,162}</string>
                <key>spriteSourceSize</key>
                <string>{161,162}</string>
                <key>textureRect</key>
                <string>{{600,495},{161,162}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 9 10 7 8 9 6 9 3 6 7 9 4 5 6 3 4 6 0 3 9 0 1 2 0 2 3</string>
                <key>vertices</key>
                <string>161 46 161 126 116 158 97 162 50 162 11 134 0 101 0 58 18 14 58 0 121 0</string>
                <key>verticesUV</key>
                <string>761 541 761 621 716 653 697 657 650 657 611 629 600 596 600 553 618 509 658 495 721 495</string>
            </dict>
            <key>m_kf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,53}</string>
                <key>spriteSourceSize</key>
                <string>{126,53}</string>
                <key>textureRect</key>
                <string>{{543,0},{126,53}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3 5 6 7 4 5 7</string>
                <key>vertices</key>
                <string>55 53 0 53 0 0 55 0 126 46 69 46 69 14 126 14</string>
                <key>verticesUV</key>
                <string>598 53 543 53 543 0 598 0 669 46 612 46 612 14 669 14</string>
            </dict>
            <key>m_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{763,495},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 0 2 5 0 1 2</string>
                <key>vertices</key>
                <string>150 200 0 200 0 3 1 1 3 0 150 0</string>
                <key>verticesUV</key>
                <string>913 695 763 695 763 498 764 496 766 495 913 495</string>
            </dict>
            <key>m_ract.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{770,210}</string>
                <key>spriteSourceSize</key>
                <string>{772,212}</string>
                <key>textureRect</key>
                <string>{{0,697},{770,210}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>771 211 1 211 1 1 771 1</string>
                <key>verticesUV</key>
                <string>770 907 0 907 0 697 770 697</string>
            </dict>
            <key>m_ract2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,68}</string>
                <key>spriteSourceSize</key>
                <string>{225,68}</string>
                <key>textureRect</key>
                <string>{{734,0},{225,68}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>225 68 0 68 0 0 225 0</string>
                <key>verticesUV</key>
                <string>959 68 734 68 734 0 959 0</string>
            </dict>
            <key>m_ract3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,100}</string>
                <key>spriteSourceSize</key>
                <string>{794,100}</string>
                <key>textureRect</key>
                <string>{{0,154},{794,100}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>794 100 0 100 0 0 794 0</string>
                <key>verticesUV</key>
                <string>794 254 0 254 0 154 794 154</string>
            </dict>
            <key>m_ract4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{108,102}</string>
                <key>textureRect</key>
                <string>{{796,154},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>108 102 0 102 0 0 108 0</string>
                <key>verticesUV</key>
                <string>904 256 796 256 796 154 904 154</string>
            </dict>
            <key>m_rukou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,76}</string>
                <key>spriteSourceSize</key>
                <string>{255,76}</string>
                <key>textureRect</key>
                <string>{{0,70},{255,76}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 5 6 2 5 1 3 5 2 3 4 5 0 1 6</string>
                <key>vertices</key>
                <string>255 23 255 76 0 76 0 20 11 4 20 0 244 0</string>
                <key>verticesUV</key>
                <string>255 93 255 146 0 146 0 90 11 74 20 70 244 70</string>
            </dict>
            <key>m_shouye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{124,50}</string>
                <key>textureRect</key>
                <string>{{77,0},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>124 50 0 50 0 0 124 0</string>
                <key>verticesUV</key>
                <string>201 50 77 50 77 0 201 0</string>
            </dict>
            <key>m_wanfa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,113}</string>
                <key>spriteSourceSize</key>
                <string>{116,113}</string>
                <key>textureRect</key>
                <string>{{378,365},{116,113}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 1 2 3 4 1 4 5 1 0 1 5 0 5 6</string>
                <key>vertices</key>
                <string>106 4 116 80 116 113 0 113 0 31 88 0 102 0</string>
                <key>verticesUV</key>
                <string>484 369 494 445 494 478 378 478 378 396 466 365 480 365</string>
            </dict>
            <key>m_wdhl_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,128}</string>
                <key>spriteSourceSize</key>
                <string>{298,128}</string>
                <key>textureRect</key>
                <string>{{496,365},{298,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>298 128 0 128 0 0 298 0</string>
                <key>verticesUV</key>
                <string>794 493 496 493 496 365 794 365</string>
            </dict>
            <key>m_wdwj_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,128}</string>
                <key>spriteSourceSize</key>
                <string>{298,128}</string>
                <key>textureRect</key>
                <string>{{0,495},{298,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>298 128 0 128 0 0 298 0</string>
                <key>verticesUV</key>
                <string>298 623 0 623 0 495 298 495</string>
            </dict>
            <key>m_wdyj_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,128}</string>
                <key>spriteSourceSize</key>
                <string>{298,128}</string>
                <key>textureRect</key>
                <string>{{300,495},{298,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>298 128 0 128 0 0 298 0</string>
                <key>verticesUV</key>
                <string>598 623 300 623 300 495 598 495</string>
            </dict>
            <key>m_weiye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{124,50}</string>
                <key>textureRect</key>
                <string>{{203,0},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>124 50 0 50 0 0 124 0</string>
                <key>verticesUV</key>
                <string>327 50 203 50 203 0 327 0</string>
            </dict>
            <key>record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{329,0},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>48 50 2 50 2 0 48 0</string>
                <key>verticesUV</key>
                <string>375 50 329 50 329 0 375 0</string>
            </dict>
            <key>winIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{377,0},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>46 50 4 50 4 0 46 0</string>
                <key>verticesUV</key>
                <string>419 50 377 50 377 0 419 0</string>
            </dict>
            <key>zimoSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{9,-7.5}</string>
                <key>spriteSize</key>
                <string>{178,111}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{118,365},{178,111}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 1 3 4 0 1 4 6 8 9 6 7 8 5 6 9</string>
                <key>vertices</key>
                <string>63 34 82 60 82 143 25 116 35 32 203 128 112 128 87 76 120 33 176 33</string>
                <key>verticesUV</key>
                <string>156 367 175 393 175 476 118 449 128 365 296 461 205 461 180 409 213 366 269 366</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>singleApp.png</string>
            <key>size</key>
            <string>{993,1454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:281e85fccd11b6447afa74d0d687043f:c5197dc6a4cac7597e673ac83d496488:58c0e0504adf84d3d71b9842b28c49ec$</string>
            <key>textureFileName</key>
            <string>singleApp.png</string>
        </dict>
    </dict>
</plist>
