<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,50}</string>
                <key>spriteSourceSize</key>
                <string>{75,50}</string>
                <key>textureRect</key>
                <string>{{1157,546},{75,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_bottom_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,104}</string>
                <key>spriteSourceSize</key>
                <string>{960,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{960,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,80}</string>
                <key>spriteSourceSize</key>
                <string>{198,80}</string>
                <key>textureRect</key>
                <string>{{693,544},{198,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_button3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,80}</string>
                <key>spriteSourceSize</key>
                <string>{213,80}</string>
                <key>textureRect</key>
                <string>{{480,544},{213,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_dban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,546}</string>
                <key>spriteSourceSize</key>
                <string>{345,546}</string>
                <key>textureRect</key>
                <string>{{960,0},{345,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_delete2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,80}</string>
                <key>spriteSourceSize</key>
                <string>{73,80}</string>
                <key>textureRect</key>
                <string>{{1232,546},{73,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_gg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,53}</string>
                <key>spriteSourceSize</key>
                <string>{120,53}</string>
                <key>textureRect</key>
                <string>{{1305,530},{120,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_hongli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{116,108}</string>
                <key>textureRect</key>
                <string>{{794,304},{116,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,162}</string>
                <key>spriteSourceSize</key>
                <string>{161,162}</string>
                <key>textureRect</key>
                <string>{{1305,0},{161,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_kf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,53}</string>
                <key>spriteSourceSize</key>
                <string>{126,53}</string>
                <key>textureRect</key>
                <string>{{1305,377},{126,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{772,104},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_ract.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{772,212}</string>
                <key>spriteSourceSize</key>
                <string>{772,212}</string>
                <key>textureRect</key>
                <string>{{0,104},{772,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_ract2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,68}</string>
                <key>spriteSourceSize</key>
                <string>{225,68}</string>
                <key>textureRect</key>
                <string>{{255,544},{225,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_ract3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,100}</string>
                <key>spriteSourceSize</key>
                <string>{794,100}</string>
                <key>textureRect</key>
                <string>{{0,316},{794,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_ract4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{108,102}</string>
                <key>textureRect</key>
                <string>{{1305,275},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_rukou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,76}</string>
                <key>spriteSourceSize</key>
                <string>{255,76}</string>
                <key>textureRect</key>
                <string>{{0,544},{255,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_shouye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{124,50}</string>
                <key>textureRect</key>
                <string>{{1305,480},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_wanfa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,113}</string>
                <key>spriteSourceSize</key>
                <string>{116,113}</string>
                <key>textureRect</key>
                <string>{{1305,162},{116,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_wdhl_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,128}</string>
                <key>spriteSourceSize</key>
                <string>{298,128}</string>
                <key>textureRect</key>
                <string>{{596,416},{298,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_wdwj_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,128}</string>
                <key>spriteSourceSize</key>
                <string>{298,128}</string>
                <key>textureRect</key>
                <string>{{298,416},{298,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_wdyj_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,128}</string>
                <key>spriteSourceSize</key>
                <string>{298,128}</string>
                <key>textureRect</key>
                <string>{{0,416},{298,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_weiye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{124,50}</string>
                <key>textureRect</key>
                <string>{{1305,430},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>singleApp.png</string>
            <key>size</key>
            <string>{1466,626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c88c266a16b2f93209509465246ad43c:d21e00b22dc136a25c0626cd4a158c91:58c0e0504adf84d3d71b9842b28c49ec$</string>
            <key>textureFileName</key>
            <string>singleApp.png</string>
        </dict>
    </dict>
</plist>
