<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,50}</string>
                <key>spriteSourceSize</key>
                <string>{75,50}</string>
                <key>textureRect</key>
                <string>{{224,2},{75,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,113}</string>
                <key>spriteSourceSize</key>
                <string>{78,113}</string>
                <key>textureRect</key>
                <string>{{299,2},{78,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>corner_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{377,2},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>corner_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{90,2},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{459,2},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_bottom_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,104}</string>
                <key>spriteSourceSize</key>
                <string>{960,104}</string>
                <key>textureRect</key>
                <string>{{2,1379},{960,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,80}</string>
                <key>spriteSourceSize</key>
                <string>{198,80}</string>
                <key>textureRect</key>
                <string>{{2,315},{198,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_button3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,80}</string>
                <key>spriteSourceSize</key>
                <string>{213,80}</string>
                <key>textureRect</key>
                <string>{{200,315},{213,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_dban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,546}</string>
                <key>spriteSourceSize</key>
                <string>{345,546}</string>
                <key>textureRect</key>
                <string>{{2,523},{345,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_delete2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,80}</string>
                <key>spriteSourceSize</key>
                <string>{73,80}</string>
                <key>textureRect</key>
                <string>{{151,2},{73,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_gg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,53}</string>
                <key>spriteSourceSize</key>
                <string>{120,53}</string>
                <key>textureRect</key>
                <string>{{2,115},{120,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_hongli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{116,108}</string>
                <key>textureRect</key>
                <string>{{651,2},{116,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,162}</string>
                <key>spriteSourceSize</key>
                <string>{161,162}</string>
                <key>textureRect</key>
                <string>{{646,115},{161,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_kf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,53}</string>
                <key>spriteSourceSize</key>
                <string>{126,53}</string>
                <key>textureRect</key>
                <string>{{370,115},{126,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{496,115},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_ract.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{770,210}</string>
                <key>spriteSourceSize</key>
                <string>{772,212}</string>
                <key>textureRect</key>
                <string>{{2,1069},{770,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_ract2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,68}</string>
                <key>spriteSourceSize</key>
                <string>{225,68}</string>
                <key>textureRect</key>
                <string>{{413,315},{225,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_ract3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,100}</string>
                <key>spriteSourceSize</key>
                <string>{794,100}</string>
                <key>textureRect</key>
                <string>{{2,1279},{794,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_ract4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{108,102}</string>
                <key>textureRect</key>
                <string>{{543,2},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_rukou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,76}</string>
                <key>spriteSourceSize</key>
                <string>{255,76}</string>
                <key>textureRect</key>
                <string>{{638,315},{255,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_shouye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{124,50}</string>
                <key>textureRect</key>
                <string>{{122,115},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_wanfa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,113}</string>
                <key>spriteSourceSize</key>
                <string>{116,113}</string>
                <key>textureRect</key>
                <string>{{767,2},{116,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_wdhl_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,128}</string>
                <key>spriteSourceSize</key>
                <string>{298,128}</string>
                <key>textureRect</key>
                <string>{{2,395},{298,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_wdwj_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,128}</string>
                <key>spriteSourceSize</key>
                <string>{298,128}</string>
                <key>textureRect</key>
                <string>{{300,395},{298,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_wdyj_btu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,128}</string>
                <key>spriteSourceSize</key>
                <string>{298,128}</string>
                <key>textureRect</key>
                <string>{{598,395},{298,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_weiye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,50}</string>
                <key>spriteSourceSize</key>
                <string>{124,50}</string>
                <key>textureRect</key>
                <string>{{246,115},{124,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{44,2},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zimoSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{162,96}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{807,115},{162,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>singleApp.png</string>
            <key>size</key>
            <string>{971,1485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44ad28622a07643a663f801d097bca1d:c5197dc6a4cac7597e673ac83d496488:58c0e0504adf84d3d71b9842b28c49ec$</string>
            <key>textureFileName</key>
            <string>singleApp.png</string>
        </dict>
    </dict>
</plist>
