body{
    background: #000000;
    color:#fff;
    height: 100%;
    font-size: 14px;
    overflow: hidden;
    li{margin-bottom: 0;}
    #root{
        height: 100%;
        display: flex;
        flex-direction: column;
        .marginWrapper{
            flex: 1.5;
            background: #313131;
            display: flex;
            flex-direction: column;
            .k-line-mobile{
                flex: 2;
                border-bottom: solid 1px #ccc;
            }
            .longShort{
                height: 11rem;
                border-bottom: solid 1px #ccc;
            }
            .recordList{
                flex: 4;
                border-bottom: solid 1px #ccc;
            }
            .controlPanel{
                height: 3.2rem;
                border-bottom: solid 1px #ccc;
            }
            .plusMinus{
                height: 6rem;
                border-bottom: solid 1px #ccc;
            }
            .information{
                height: 4.2rem;
            }
        }
    }
}