body{
    background: #000000;
    color:#fff;
    height: 100%;
    font-size: 14px;
    overflow: hidden;
    
    #root{
        height: 100%;
        display: flex;
        flex-direction: column;
        .marginWrapper{
            flex: 1;
            background: #666;
            display: flex;
            flex-direction: column;
            .kline{
                flex: 1;
            }
            .longShort{
                flex: 1;
            }
        }
    }
}