<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>appName.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,74},{1026,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1026,254}}</string>
                <key>sourceSize</key>
                <string>{1026,254}</string>
            </dict>
            <key>botton.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{1334,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,70}}</string>
                <key>sourceSize</key>
                <string>{1334,70}</string>
            </dict>
            <key>btu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,330},{249,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,89}}</string>
                <key>sourceSize</key>
                <string>{249,89}</string>
            </dict>
            <key>btu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,330},{249,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,89}}</string>
                <key>sourceSize</key>
                <string>{249,89}</string>
            </dict>
            <key>input1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,421},{484,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{484,74}}</string>
                <key>sourceSize</key>
                <string>{488,78}</string>
            </dict>
            <key>input_btu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,421},{130,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>input_btu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,421},{130,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,74},{350,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,120}}</string>
                <key>sourceSize</key>
                <string>{350,120}</string>
            </dict>
            <key>regBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,560}}</string>
                <key>sourceSize</key>
                <string>{550,560}</string>
            </dict>
            <key>weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,426},{350,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,120}}</string>
                <key>sourceSize</key>
                <string>{350,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gate.png</string>
            <key>size</key>
            <string>{1900,554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2480bdf69ebe3571adafa3de1fbaebcc:05526c4df066389c6dd3cd0bd69c1f57:494a3559cad2a07bda1a731e5a30f3d6$</string>
            <key>textureFileName</key>
            <string>Gate.png</string>
        </dict>
    </dict>
</plist>
