<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{326,461},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{2,574},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{407,461},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{245,461},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{164,461},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{2,461},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{407,348},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{83,574},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{326,574},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{83,687},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,62}</string>
                <key>spriteSourceSize</key>
                <string>{41,62}</string>
                <key>textureRect</key>
                <string>{{54,2},{41,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceCardhide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,118}</string>
                <key>spriteSourceSize</key>
                <string>{78,118}</string>
                <key>textureRect</key>
                <string>{{388,2},{78,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fc1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{245,687},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hz1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{164,687},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,63}</string>
                <key>spriteSourceSize</key>
                <string>{24,63}</string>
                <key>textureRect</key>
                <string>{{28,2},{24,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,118}</string>
                <key>spriteSourceSize</key>
                <string>{78,118}</string>
                <key>textureRect</key>
                <string>{{148,2},{78,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,118}</string>
                <key>spriteSourceSize</key>
                <string>{78,118}</string>
                <key>textureRect</key>
                <string>{{228,2},{78,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainCardhide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,118}</string>
                <key>spriteSourceSize</key>
                <string>{78,118}</string>
                <key>textureRect</key>
                <string>{{308,2},{78,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,63}</string>
                <key>spriteSourceSize</key>
                <string>{24,63}</string>
                <key>textureRect</key>
                <string>{{2,2},{24,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sideLieCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{97,2},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{2,687},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{326,348},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{245,574},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{164,574},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{83,461},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{2,235},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{2,122},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{245,122},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{164,122},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{83,122},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{326,122},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{407,235},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{83,348},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{245,348},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{164,348},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{2,348},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{326,235},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{407,122},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{83,235},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{245,235},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{164,235},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{407,574},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{488,800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e2d8568578593f90da5e18fdf51226c:1f734f9fc738dc6f4ac173ca5647a18a:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
