<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,115},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,115},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,115},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,115},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>bb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>faceCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,122},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>fc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,115},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>hz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>leftCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{24,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,63}}</string>
                <key>sourceSize</key>
                <string>{24,63}</string>
            </dict>
            <key>lieCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,118}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>mainCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,118}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>rightCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,122},{24,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,63}}</string>
                <key>sourceSize</key>
                <string>{24,63}</string>
            </dict>
            <key>sideLieCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,122},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,115},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>t4.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,115},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>t5.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>t6.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,115},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>t7.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>t8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>t9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,115},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>w1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>w2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,115},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>w3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>w4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,115},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>w5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>w6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>w7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,115},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>w8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>w9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,115},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>wind1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>wind2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>wind3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,115},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>wind4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1782,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c8fe6f50176f777909adbb20007054a:0408004dd7aee8bb45960fff527f6454:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
