<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,395},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,379},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>cardArrows.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,452},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>deskCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,229},{181,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,133}}</string>
                <key>sourceSize</key>
                <string>{181,133}</string>
            </dict>
            <key>exitIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,403},{79,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>gameBegin.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{536,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,160}}</string>
                <key>sourceSize</key>
                <string>{536,160}</string>
            </dict>
            <key>gang_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,2},{248,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,225}}</string>
                <key>sourceSize</key>
                <string>{248,225}</string>
            </dict>
            <key>glod.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,86},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>head_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,403},{68,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{68,100}}</string>
                <key>sourceSize</key>
                <string>{76,108}</string>
            </dict>
            <key>helpIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,364},{78,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,86}}</string>
                <key>sourceSize</key>
                <string>{78,86}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,378},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>hu_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,164},{212,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,233}}</string>
                <key>sourceSize</key>
                <string>{212,233}</string>
            </dict>
            <key>otherHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,314},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>p-bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,363},{137,41}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{137,41}}</string>
                <key>sourceSize</key>
                <string>{147,79}</string>
            </dict>
            <key>p-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,452},{54,98}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,98}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>p-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,229},{56,96}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,5},{56,96}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>p-top.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,363},{128,38}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{128,38}}</string>
                <key>sourceSize</key>
                <string>{138,76}</string>
            </dict>
            <key>pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,406},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>peng_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,164},{255,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,213}}</string>
                <key>sourceSize</key>
                <string>{255,213}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{180,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,67}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>recordIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,229},{78,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>ruleIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,379},{79,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,86}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>selfHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,378},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>setIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,364},{79,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,86}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>show.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,411},{132,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{132,64}}</string>
                <key>sourceSize</key>
                <string>{136,68}</string>
            </dict>
            <key>showCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,2},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,44}}</string>
                <key>sourceSize</key>
                <string>{82,44}</string>
            </dict>
            <key>touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,378},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>xiayu_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{407,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,221}}</string>
                <key>sourceSize</key>
                <string>{407,221}</string>
            </dict>
            <key>zimo_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{359,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,240}}</string>
                <key>sourceSize</key>
                <string>{359,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desk.png</string>
            <key>size</key>
            <string>{1310,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1af38db362c9eebb85f72fcfbfaf2073:b16da3c5e15303accc660e737ac9709c:b47663ce9610bb1fdb7d43eb56926a05$</string>
            <key>textureFileName</key>
            <string>desk.png</string>
        </dict>
    </dict>
</plist>
