<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,69}</string>
                <key>spriteSourceSize</key>
                <string>{186,69}</string>
                <key>textureRect</key>
                <string>{{1335,0},{186,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{1521,0},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoHu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{104,185},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoQingHu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{1726,79},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{104,108}</string>
                <key>textureRect</key>
                <string>{{209,185},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardArrows.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{587,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardChoose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,151}</string>
                <key>spriteSourceSize</key>
                <string>{100,151}</string>
                <key>textureRect</key>
                <string>{{1267,185},{100,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatFace1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,223}</string>
                <key>spriteSourceSize</key>
                <string>{70,223}</string>
                <key>textureRect</key>
                <string>{{549,562},{70,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatFace2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,223}</string>
                <key>spriteSourceSize</key>
                <string>{71,223}</string>
                <key>textureRect</key>
                <string>{{478,562},{71,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatMsg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,223}</string>
                <key>spriteSourceSize</key>
                <string>{70,223}</string>
                <key>textureRect</key>
                <string>{{619,562},{70,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatMsg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,223}</string>
                <key>spriteSourceSize</key>
                <string>{71,223}</string>
                <key>textureRect</key>
                <string>{{407,562},{71,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,89}</string>
                <key>spriteSourceSize</key>
                <string>{84,89}</string>
                <key>textureRect</key>
                <string>{{1161,79},{84,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deskCenter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,133}</string>
                <key>spriteSourceSize</key>
                <string>{181,133}</string>
                <key>textureRect</key>
                <string>{{1086,185},{181,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,26}</string>
                <key>spriteSourceSize</key>
                <string>{35,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exitDesk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,69}</string>
                <key>spriteSourceSize</key>
                <string>{186,69}</string>
                <key>textureRect</key>
                <string>{{963,0},{186,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exitIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,90}</string>
                <key>spriteSourceSize</key>
                <string>{79,90}</string>
                <key>textureRect</key>
                <string>{{1245,79},{79,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBegin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,160}</string>
                <key>spriteSourceSize</key>
                <string>{536,160}</string>
                <key>textureRect</key>
                <string>{{1367,185},{536,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gang_2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,225}</string>
                <key>spriteSourceSize</key>
                <string>{248,225}</string>
                <key>textureRect</key>
                <string>{{689,562},{248,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glod.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{117,0},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guafeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,217}</string>
                <key>spriteSourceSize</key>
                <string>{403,217}</string>
                <key>textureRect</key>
                <string>{{1428,345},{403,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,108}</string>
                <key>spriteSourceSize</key>
                <string>{76,108}</string>
                <key>textureRect</key>
                <string>{{313,185},{76,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helpIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{917,79},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{104,108}</string>
                <key>textureRect</key>
                <string>{{389,185},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu_2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,233}</string>
                <key>spriteSourceSize</key>
                <string>{212,233}</string>
                <key>textureRect</key>
                <string>{{937,562},{212,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_tiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,121}</string>
                <key>spriteSourceSize</key>
                <string>{122,121}</string>
                <key>textureRect</key>
                <string>{{864,185},{122,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_tong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,118}</string>
                <key>spriteSourceSize</key>
                <string>{79,118}</string>
                <key>textureRect</key>
                <string>{{697,185},{79,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_wan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,119}</string>
                <key>spriteSourceSize</key>
                <string>{88,119}</string>
                <key>textureRect</key>
                <string>{{776,185},{88,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msgBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,481}</string>
                <key>spriteSourceSize</key>
                <string>{505,481}</string>
                <key>textureRect</key>
                <string>{{0,802},{505,481}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msgIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,92}</string>
                <key>spriteSourceSize</key>
                <string>{79,92}</string>
                <key>textureRect</key>
                <string>{{1324,79},{79,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextDesk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,69}</string>
                <key>spriteSourceSize</key>
                <string>{186,69}</string>
                <key>textureRect</key>
                <string>{{1149,0},{186,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>otherHu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,79}</string>
                <key>spriteSourceSize</key>
                <string>{72,79}</string>
                <key>textureRect</key>
                <string>{{0,79},{72,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p-bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,79}</string>
                <key>spriteSourceSize</key>
                <string>{147,79}</string>
                <key>textureRect</key>
                <string>{{1723,0},{147,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,108}</string>
                <key>textureRect</key>
                <string>{{493,185},{100,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{1626,79},{100,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p-top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,76}</string>
                <key>spriteSourceSize</key>
                <string>{138,76}</string>
                <key>textureRect</key>
                <string>{{1585,0},{138,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,89}</string>
                <key>spriteSourceSize</key>
                <string>{87,89}</string>
                <key>textureRect</key>
                <string>{{1074,79},{87,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>peng_2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,213}</string>
                <key>spriteSourceSize</key>
                <string>{255,213}</string>
                <key>textureRect</key>
                <string>{{1173,345},{255,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiangGang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,104}</string>
                <key>spriteSourceSize</key>
                <string>{113,104}</string>
                <key>textureRect</key>
                <string>{{1513,79},{113,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qingHu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,104}</string>
                <key>textureRect</key>
                <string>{{1403,79},{110,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>radiusRect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,36}</string>
                <key>spriteSourceSize</key>
                <string>{82,36}</string>
                <key>textureRect</key>
                <string>{{35,0},{82,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,67}</string>
                <key>spriteSourceSize</key>
                <string>{180,67}</string>
                <key>textureRect</key>
                <string>{{647,0},{180,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>recordIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,83}</string>
                <key>spriteSourceSize</key>
                <string>{78,83}</string>
                <key>textureRect</key>
                <string>{{760,79},{78,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1190,590}</string>
                <key>spriteSourceSize</key>
                <string>{1190,590}</string>
                <key>textureRect</key>
                <string>{{505,802},{1190,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_rect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1173,189}</string>
                <key>spriteSourceSize</key>
                <string>{1173,189}</string>
                <key>textureRect</key>
                <string>{{0,345},{1173,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_top_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,79}</string>
                <key>spriteSourceSize</key>
                <string>{344,79}</string>
                <key>textureRect</key>
                <string>{{72,79},{344,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_top_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,79}</string>
                <key>spriteSourceSize</key>
                <string>{344,79}</string>
                <key>textureRect</key>
                <string>{{416,79},{344,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ruleIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,86}</string>
                <key>spriteSourceSize</key>
                <string>{79,86}</string>
                <key>textureRect</key>
                <string>{{995,79},{79,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selfHu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{0,185},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,86}</string>
                <key>spriteSourceSize</key>
                <string>{79,86}</string>
                <key>textureRect</key>
                <string>{{838,79},{79,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>show.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,68}</string>
                <key>spriteSourceSize</key>
                <string>{136,68}</string>
                <key>textureRect</key>
                <string>{{827,0},{136,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>showCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,44}</string>
                <key>spriteSourceSize</key>
                <string>{82,44}</string>
                <key>textureRect</key>
                <string>{{151,0},{82,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,131}</string>
                <key>spriteSourceSize</key>
                <string>{100,131}</string>
                <key>textureRect</key>
                <string>{{986,185},{100,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>totalScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,53}</string>
                <key>spriteSourceSize</key>
                <string>{120,53}</string>
                <key>textureRect</key>
                <string>{{467,0},{120,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{104,110}</string>
                <key>textureRect</key>
                <string>{{593,185},{104,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiayu_2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,221}</string>
                <key>spriteSourceSize</key>
                <string>{407,221}</string>
                <key>textureRect</key>
                <string>{{0,562},{407,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youlost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,52}</string>
                <key>spriteSourceSize</key>
                <string>{117,52}</string>
                <key>textureRect</key>
                <string>{{350,0},{117,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youwin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,51}</string>
                <key>spriteSourceSize</key>
                <string>{117,51}</string>
                <key>textureRect</key>
                <string>{{233,0},{117,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zimo_2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,240}</string>
                <key>spriteSourceSize</key>
                <string>{359,240}</string>
                <key>textureRect</key>
                <string>{{1149,562},{359,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>desk.png</string>
            <key>size</key>
            <string>{1903,1392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9681a1d147d655cfdad246262f0d026e:45beb7c4c35cbe5ccab838416557060f:b47663ce9610bb1fdb7d43eb56926a05$</string>
            <key>textureFileName</key>
            <string>desk.png</string>
        </dict>
    </dict>
</plist>
