<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1153},{186,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,69}}</string>
                <key>sourceSize</key>
                <string>{186,69}</string>
            </dict>
            <key>arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1565},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>baoHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1246},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1466},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>cardArrows.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1539},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1346},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>deskCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1354},{181,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,133}}</string>
                <key>sourceSize</key>
                <string>{181,133}</string>
            </dict>
            <key>exitDesk.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1175},{186,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,69}}</string>
                <key>sourceSize</key>
                <string>{186,69}</string>
            </dict>
            <key>exitIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1295},{79,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>gameBegin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{536,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,160}}</string>
                <key>sourceSize</key>
                <string>{536,160}</string>
            </dict>
            <key>gang_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,411},{248,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,225}}</string>
                <key>sourceSize</key>
                <string>{248,225}</string>
            </dict>
            <key>glod.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1192},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>head_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1437},{68,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{68,100}}</string>
                <key>sourceSize</key>
                <string>{76,108}</string>
            </dict>
            <key>helpIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1387},{78,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,86}}</string>
                <key>sourceSize</key>
                <string>{78,86}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1352},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>hu_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,918},{212,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,233}}</string>
                <key>sourceSize</key>
                <string>{212,233}</string>
            </dict>
            <key>nextDesk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1224},{186,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,69}}</string>
                <key>sourceSize</key>
                <string>{186,69}</string>
            </dict>
            <key>otherHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1628},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>p-bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1677},{137,41}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{137,41}}</string>
                <key>sourceSize</key>
                <string>{147,79}</string>
            </dict>
            <key>p-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1620},{54,98}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,98}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>p-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1467},{56,96}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,5},{56,96}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>p-top.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1153},{128,38}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{128,38}}</string>
                <key>sourceSize</key>
                <string>{138,76}</string>
            </dict>
            <key>pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1576},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>peng_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,661},{255,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,213}}</string>
                <key>sourceSize</key>
                <string>{255,213}</string>
            </dict>
            <key>qingHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1246},{110,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,104}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>radiusRect.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1677},{82,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,36}}</string>
                <key>sourceSize</key>
                <string>{82,36}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1537},{180,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,67}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>recordIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1548},{78,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>record_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1188,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{1188,588}}</string>
                <key>sourceSize</key>
                <string>{1190,590}</string>
            </dict>
            <key>record_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{1171,187}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1171,187}}</string>
                <key>sourceSize</key>
                <string>{1173,189}</string>
            </dict>
            <key>record_top_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1596},{344,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,79}}</string>
                <key>sourceSize</key>
                <string>{344,79}</string>
            </dict>
            <key>record_top_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1354},{344,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,79}}</string>
                <key>sourceSize</key>
                <string>{344,79}</string>
            </dict>
            <key>ruleIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1467},{79,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,86}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>selfHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1462},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>setIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1620},{79,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,86}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>show.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1537},{132,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{132,64}}</string>
                <key>sourceSize</key>
                <string>{136,68}</string>
            </dict>
            <key>showCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1295},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,44}}</string>
                <key>sourceSize</key>
                <string>{82,44}</string>
            </dict>
            <key>totalScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1295},{116,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,49}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
            <key>touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1354},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>xiayu_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{407,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,221}}</string>
                <key>sourceSize</key>
                <string>{407,221}</string>
            </dict>
            <key>youlost.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1570},{113,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{113,48}}</string>
                <key>sourceSize</key>
                <string>{117,52}</string>
            </dict>
            <key>youwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1671},{113,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{113,47}}</string>
                <key>sourceSize</key>
                <string>{117,51}</string>
            </dict>
            <key>zimo_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{359,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,240}}</string>
                <key>sourceSize</key>
                <string>{359,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desk.png</string>
            <key>size</key>
            <string>{1009,1720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:086c573eacf0315c32f1532943a270a7:a2457eac31a97d91d8e50789187e6391:b47663ce9610bb1fdb7d43eb56926a05$</string>
            <key>textureFileName</key>
            <string>desk.png</string>
        </dict>
    </dict>
</plist>
